@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    /* Colors */
    --af-white: #f0f0f0;
    --carmel: #bc8451;
    --cl-purple: #7F5AF0;
    --cl-purple-btn: #16161a25;
    --eerie-black: #252525;
    --onyx: #444444;
    --platinum: #d9d9d9;
    --rich-black: #151921;
    --silver: #c6c6c6;
    --taupe: #514438;
    --white: #fff;
    --red: #E53D00;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--cl-yellow);
    border-radius: 9px;
}
::-webkit-scrollbar-track {
    background-color: var(--rich-black);
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
	height: 100%;
	scroll-behavior: smooth;
	width: 100%;
}

body {
    background-color: var(--rich-black);
    background-image: url("../img/bg.png");
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}

.min-height {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.st-section {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left-section-st,
.right-section-st,
.left-section-nd,
.right-section-nd {
    width: 50%;
    height: 80vh;
    padding: 8em 2em;
    border-radius: 16px;
    margin: 2rem;
}

.left-section-st {
    color: var(--af-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--rich-black);
}

.left-section-st a {
    text-decoration: none;
    background-color: var(--cl-purple);
    color: var(--af-white);
    padding: 1rem;
    width: 50%;
    border-radius: 16px;
    box-shadow: rgba(127, 90, 240, 0.23) 0px 2px 4px 0px, rgba(127, 90, 240, 0.52) 0px 2px 16px 0px;
    text-align: center;
}

.right-section-st {
    /* From https://css.glass */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(127, 90, 240, 0.23);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(127, 90, 240, 0.52);
    color: var(--af-white);
    box-shadow: rgba(127, 90, 240, 0.23) 0px 2px 4px 0px, rgba(127, 90, 240, 0.52) 0px 2px 16px 0px;
}

.right-section-st h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.right-section-st ul {
    list-style-type: decimal;
}

.nd-section {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left-section-nd,
.right-section-nd {
    /* From https://css.glass */
    background: rgba(21, 25, 33, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(21, 25, 33, 0.3);
}

.left-section-nd {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--af-white);
}
.nd-numb {
    color: var(--cl-purple);
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    font-style: italic;
}
.nd-card-info {
    margin: 2.5rem 0 0 1rem;
}
.nd-card-name {
    margin-bottom: 1rem;
}

.nd-buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    bottom: 0;
    left: 0;
    width: 100%;
}
.nd-buttons button {
    border-radius: 999px; 
    border: none;
    color: var(--af-white);
    background-color: var(--cl-purple);
    padding: .15rem 5rem;
    transition: all .3s ease;
}
.nd-buttons button:hover {
    transform: scale(1.05);
}
.nd-buttons button:nth-child(1):hover i {
    animation: ArrowLeft .4s alternate 6 ease-in-out;
}
.nd-buttons button:nth-child(2):hover i {
    animation: ArrowRight .4s alternate 6 ease-in-out;
}

.right-section-nd {
    color: var(--af-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rd-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rd-section h2 {
    color: var(--af-white);
}

.rd-card {
    width: 85vw;
    height: 90vh;
    background-color: var(--cl-purple);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 16px;
    position: relative;
}

.cd-card-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 1.5rem;
}
.cd-card-buttons button {
    /* From https://css.glass */
    backdrop-filter: blur(5px);
    background: rgba(21, 25, 33, 0.23);
    border-radius: 16px;
    border: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: var(--af-white);
    padding: .15rem 5rem;
    transition: all .3s ease;
}
.cd-card-buttons button:hover {
    transform: scale(1.05);
}
.cd-card-buttons button:nth-child(1):hover i {
    animation: ArrowLeft .4s alternate 6 ease-in-out;
}
.cd-card-buttons button:nth-child(2):hover i {
    animation: RotateButton 1s forwards ease-in-out;
}
.cd-card-buttons button:nth-child(3):hover i {
    animation: ArrowRight .4s alternate 6 ease-in-out;
}

/* Animations of transform */
@keyframes ArrowLeft {
    from {
        transform: translateX(0px);
    } to {
        transform: translateX(-10px);
    }
}
@keyframes RotateButton {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(180deg);
    }
}
@keyframes ArrowRight {
    from {
        transform: translateX(0px);
    } to {
        transform: translateX(10px);
    }
}

.fc-concept {
    color: var(--af-white);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.fc-text {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.fc-definition,
.fc-note {
    width: 50%;
    margin: 1rem;
    /* From https://css.glass */
    background: rgba(21, 25, 33, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 1rem;
}

.fc-title {
    color: var(--platinum);
}

.fc-t {
    color: var(--silver);
}

.fth-section,
.fth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--af-white);
}

 .fth-sec {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.fth-sec h2 {
    text-transform: capitalize;
}
.fth-sec:nth-last-child(2n - 0) {
    flex-direction: row-reverse;
}
.fth-sec-left,
.fth-sec-right {
    width: 50%;
    height: 100%;
}
.dotlottie {
    height: 50vh;
    width: auto;
}

/* GAME */
.game {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    color: var(--af-white);
}

.game-panel {
    width: 95vw;
    height: 90vh;
    background-color: var(--cl-purple);
    border-radius: 32px;
}

/* Game - menu (start) */
.game-panel-menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.errorInput {
    color: var(--red);
    text-align: center;
}

.game-panel-menu input {
    background-color: var(--cl-purple-btn);
    border: none;
    padding: .5rem 1.5rem;
    border-radius: 99px;
    transition: all .3s ease;
}

.game-panel-menu input::placeholder {
    color: var(--af-white);
    font-style: italic;
}

.game-panel-menu .play {
    border-radius: 99px;
    border: none;
    padding: 0.5rem 1.5rem;
    transition: all .3s ease;
    background-color: var(--cl-purple-btn);
}
.game-panel-menu input:hover,
.game-panel-menu input:focus,
.game-panel-menu .play:hover {
    transform: scale(1.05);
}

/* Game Board */
.game-panel-board {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
}

.game-info {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    width: 100%;
}
.game-info p {
    background-color: var(--cl-purple-btn);
    padding: .5rem 2rem;
    border-radius: 99px;
}

.game-panel-board .question {
    width: 100%;
    text-align: center;
    background-color: var(--cl-purple-btn);
    padding: 1.5rem 2rem;
}

.game-panel-board .answers {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.game-panel-board .answers button {
    width: 90%;
    background-color: var(--cl-purple-btn);
    border-radius: 99px;
    text-align: left;
    padding: .5rem 2.5rem;
    border: none;
    transition: all .3s ease;
}
.game-panel-board .answers button:hover {
    transform: scale(1.0125);
}

/* Game - Finish menu */
.game-panel-finish {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.gpf-container {
    width: 25%;
    height: 75%;
    background-color: var(--cl-purple-btn);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.gr-btn {
    border: none;
    background-color: var(--cl-purple-btn);
    padding: .5rem 2.5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: var(--af-white);
    transition: all .3s ease;
}
.gr-btn:hover {
    transform: scale(1.05);
}

/* footer css */
footer {
    background-color: var(--rich-black);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.footer-igms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-igms img {
    width: auto;
    height: 100px;
}