@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    /* Colors */
    --af-white: #f0f0f0;
    --carmel: #bc8451;
    --cl-purple-btn: #16161a25;
    --cl-purple: #7F5AF0;
    --cl-yellow: #fcb667;
    --eerie-black: #252525;
    --onyx: #444444;
    --platinum: #d9d9d9;
    --red: #D1495B;
    --rich-black: #151921;
    --silver: #c6c6c6;
    --taupe: #514438;
    --white: #fff;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--cl-yellow);
    border-radius: 9px;
}
::-webkit-scrollbar-track {
    background-color: var(--rich-black);
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
	height: 100%;
	scroll-behavior: smooth;
	width: 100%;
}

body {
    background-color: var(--rich-black);
    background-image: url("../img/bg.png");
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}

.min-height {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    min-height: 100vh;
    width: 100%;
}

/* Welcome section */
.st-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
}

/* style for left & right part */
.left-section-st,
.right-section-st,
.left-section-nd,
.right-section-nd {
    border-radius: 16px;
    height: 80vh;
    margin: 2rem;
    padding: 8em 2em;
    width: 50%;
}

.left-section-st {
    background-color: var(--rich-black);
    color: var(--af-white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
.left-section-st a {
    background-color: var(--cl-purple);
    border-radius: 16px;
    -webkit-box-shadow: rgba(127, 90, 240, 0.23) 0px 2px 4px 0px, rgba(127, 90, 240, 0.52) 0px 2px 16px 0px;
            box-shadow: rgba(127, 90, 240, 0.23) 0px 2px 4px 0px, rgba(127, 90, 240, 0.52) 0px 2px 16px 0px;
    color: var(--af-white);
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    width: 50%;
}

.right-section-st {
    /* From https://css.glass */
    -webkit-backdrop-filter: blur(5.9px);
            backdrop-filter: blur(5.9px);
    background: rgba(127, 90, 240, 0.23);
    border: 1px solid rgba(127, 90, 240, 0.52);
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: rgba(127, 90, 240, 0.23) 0px 2px 4px 0px, rgba(127, 90, 240, 0.52) 0px 2px 16px 0px;
            box-shadow: rgba(127, 90, 240, 0.23) 0px 2px 4px 0px, rgba(127, 90, 240, 0.52) 0px 2px 16px 0px;
    color: var(--af-white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
}
.right-section-st h1 {
    margin-bottom: 2rem;
    text-align: center;
}
.right-section-st ul {
    list-style-type: decimal;
}
.right-section-st img {
    bottom: 1rem;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    height: auto;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 25%;
}

@media(max-width: 1225px) {
    .left-section-st,
    .right-section-st,
    .left-section-nd,
    .right-section-nd {
        padding: 2em 1em;
    }

    .left-section-st a {
        padding: .25em .5em;
        width: 75%;
    }

    .right-section-st img {
        width: 35%;
    }
}

@media(max-width: 992px) {
    /* Welcome section */
    .st-section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    /* style for left & right part */
    .left-section-st,
    .right-section-st,
    .left-section-nd {
        height: calc(-webkit-fit-content + 2rem);
        height: calc(-moz-fit-content + 2rem);
        height: calc(fit-content + 2rem);
        padding: 2em 2em;
        width: 75%;
    }

    .left-section-st {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .left-section-st a {
        margin-top: 2rem;
        padding: 1rem;
        width: 90%;
    }

    .right-section-nd {
        display: none !important;
    }
}

@media(max-width: 768px) {
    .left-section-st,
    .right-section-st,
    .left-section-nd {
        padding: 4em 1em;
        width: 90vw;
    }
}

@media(max-width: 576px) {
    .left-section-st,
    .right-section-st,
    .left-section-nd {
        width: 95vw;
    }
}

/* Personal data */
.nd-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
}

/* Bg for elements */
.left-section-nd,
.right-section-nd {
    /* From https://css.glass */
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    background: rgba(21, 25, 33, 0.23);
    border-radius: 16px;
    border: 1px solid rgba(21, 25, 33, 0.3);
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

/* Text styling */
.left-section-nd {
    color: var(--af-white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}
.nd-numb {
    color: var(--cl-purple);
    font-style: italic;
    left: 0;
    margin: 1rem;
    position: absolute;
    top: 0;
}
.nd-card-info {
    margin: 2.5rem 0 0 1rem;
}
.nd-card-name {
    margin-bottom: 1rem;
} 

/* Buttons styling */
.nd-buttons {
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    left: 0;
    padding: 2rem;
    position: absolute;
    width: 100%;
}

.nd-buttons button {
    background-color: var(--cl-purple);
    border-radius: 999px; 
    border: none;
    color: var(--af-white);
    padding: .15rem 5rem;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

/* Animations for buttons hover */
.nd-buttons button:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}
.nd-buttons button:nth-child(1):hover i {
    -webkit-animation: ArrowLeft .4s alternate 6 ease-in-out;
            animation: ArrowLeft .4s alternate 6 ease-in-out;
}
.nd-buttons button:nth-child(2):hover i {
    -webkit-animation: ArrowRight .4s alternate 6 ease-in-out;
            animation: ArrowRight .4s alternate 6 ease-in-out;
}

/* Fact style */
.right-section-nd {
    color: var(--af-white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

@media(max-width: 1225px) {
    .left-section-nd {
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    .nd-buttons button {
        padding: .15rem 4rem;
    }
}

@media(max-width: 992px) {
    .nd-section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .nd-buttons button {
        padding: .15rem 6rem;
    }
}

@media(max-width: 576px) {
    .nd-buttons button {
        padding: .15rem 20%;
    }

    .right-section-nd {
        color: var(--af-white);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
}

/* Data protection */
.rd-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.rd-section h2 {
    color: var(--af-white);
}

/* card styles */
.rd-card {
    background-color: var(--cl-purple);
    border-radius: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 90vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem;
    position: relative;
    width: 85vw;
}

/* title text style */
.fc-concept {
    color: var(--af-white);
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
}

/* reverse card styling */
.fc-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 80vh;
    width: 100%;
}

.fc-definition,
.fc-note {
    /* From https://css.glass */
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    background: rgba(21, 25, 33, 0.23);
    border-radius: 16px 0 0 16px;
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    height: 80%;
    margin: 1rem;
    overflow-y: scroll;
    padding: 1rem;
    width: 50%;
}

.fc-title {
    color: var(--platinum);
}

.fc-t {
    color: var(--silver);
}

/* buttons style */
.cd-card-buttons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    left: 0;
    padding: 0 1.5rem;
    position: absolute;
    width: 100%;
}
.cd-card-buttons button,
.passwd-div button {
    /* From https://css.glass */
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    background: rgba(21, 25, 33, 0.23);
    border-radius: 16px;
    border: none;
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: var(--af-white);
    padding: .15rem 5rem;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.cd-card-buttons button:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}
.cd-card-buttons button:nth-child(1):hover i {
    -webkit-animation: ArrowLeft .4s alternate 6 ease-in-out;
            animation: ArrowLeft .4s alternate 6 ease-in-out;
}
.cd-card-buttons button:nth-child(2):hover i {
    -webkit-animation: RotateButton 1s forwards ease-in-out;
            animation: RotateButton 1s forwards ease-in-out;
}
.cd-card-buttons button:nth-child(3):hover i {
    -webkit-animation: ArrowRight .4s alternate 6 ease-in-out;
            animation: ArrowRight .4s alternate 6 ease-in-out;
}

/* first card - password */
.passwd-div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
}

.passwd-div .errorInput {
    background-color: var(--cl-purple-btn);
    border-radius: 25px;
    min-width: 25%;
}

.passwd-div button,
.passwd-div input {
    margin: 1rem 0;
    width: 25%;
}

.passwd-input {
    background-color: var(--cl-purple-btn);
    border-radius: 99px;
    border: none;
    color: var(--af-white);
    padding: .5rem 2rem;
    text-align: center;
}
.passWDInput::-webkit-input-placeholder {
    color: var(--af-white);
}
.passWDInput::-moz-placeholder {
    color: var(--af-white);
}
.passWDInput:-ms-input-placeholder {
    color: var(--af-white);
}
.passWDInput::-ms-input-placeholder {
    color: var(--af-white);
}
.passWDInput::placeholder {
    color: var(--af-white);
}

@media(max-width: 1025px) {
    /* reverse card styling */
    .fc-text {
        height: 70vh;
    }

    .cd-card-buttons button,
    .passwd-div button {
        padding: .1rem 4rem;
    }

    .passwd-div .errorInput {
        min-width: 35%;
    }

    .passwd-div button,
    .passwd-div input {
        width: 35%;
    }
}

@media(max-width: 992px) {
    .fc-concept {
        color: var(--af-white);
        left: 50%;
        position: absolute;
        text-align: center;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        width: 100%;
    }

    .fc-text {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .fc-definition,
    .fc-note {
        height: 35%;
        width: 90%;
    }

    .cd-card-buttons button,
    .passwd-div button {
        padding: .1rem 4rem;
    }

    .passwd-div .errorInput {
        max-width: 80%;
        min-width: 50%;
    }

    .passwd-div button,
    .passwd-div input {
        width: 50%;
    }
}

@media(max-width: 576px) {
    .rd-card {
        height: 90vh;
        padding: 0rem;
        width: 95vw;
    }

    .fc-text {
        height: 80vh;
        width: 100%;
    }

    .fc-definition,
    .fc-note {
        height: 40%;
        margin: .5rem 0;
        padding: 1rem;
        width: 100%;
    }

    .fc-concept {
        font-size: 18px;
    }
    .fc-title {
        font-size: 16px;
    }
    .fc-t {
        font-size: 14px;
    }

    /* buttons style */
    .cd-card-buttons button {
        font-size: 16px;
        padding: .15rem 2rem;
    }

    .passwd-div .errorInput {
        font-size: 16px;
        max-width: 90%;
        min-width: 90%;
    }

    .passwd-div button,
    .passwd-div input {
        width: 90%;
    }
}

/* Rights on the internet */
.fth-section,
.fth-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--af-white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.fth-sec {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.fth-sec h2 {
    text-transform: capitalize;
}

/* alternating image setting */
.fth-sec:nth-last-child(2n - 0) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

.fth-sec-left,
.fth-sec-right {
    height: 100%;
    width: 50%;
}

.dotlottie {
    height: 50vh;
    width: auto;
}

@media(max-width: 1025px) {
    .fth-sec {
        margin: 2.5rem 0;
    }

    .dotlottie {
        height: 40vh;
        width: auto;
    }
}

@media(max-width: 992px) {
    .fth-sec {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: reverse !important;
            -ms-flex-direction: column-reverse !important;
                flex-direction: column-reverse !important;
    }

    .fth-sec h2 {
        text-transform: capitalize;
    }

    .fth-sec-left,
    .fth-sec-right {
        width: 90%;
    }

    .fth-sec-right {
        margin-bottom: 1rem;
    }
}

@media(max-width: 576px) {
    .fth-sec h2 {
        font-size: 18px;
    }
    .fth-sec p {
        font-size: 14px;
    }

    .fth-sec-left,
    .fth-sec-right {
        width: 100%;
    }

    .fth-sec-right {
        margin-bottom: 1rem;
    }
}

/* Game */
.game {
    color: var(--af-white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
}

.game-panel {
    background-color: var(--cl-purple);
    border-radius: 32px;
    height: 90vh;
    width: 95vw;
}

/* Game - menu (start) */
.game-panel-menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
}

.errorInput {
    color: var(--red);
    font-weight: bold;
    text-align: center;
}

.game-panel-menu input {
    background-color: var(--cl-purple-btn);
    border-radius: 99px;
    border: none;
    padding: .5rem 1.5rem;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.game-panel-menu input::-webkit-input-placeholder {
    color: var(--af-white);
    font-style: italic;
}

.game-panel-menu input::-moz-placeholder {
    color: var(--af-white);
    font-style: italic;
}

.game-panel-menu input:-ms-input-placeholder {
    color: var(--af-white);
    font-style: italic;
}

.game-panel-menu input::-ms-input-placeholder {
    color: var(--af-white);
    font-style: italic;
}

.game-panel-menu input::placeholder {
    color: var(--af-white);
    font-style: italic;
}

.game-panel-menu .play {
    background-color: var(--cl-purple-btn);
    border-radius: 99px;
    border: none;
    padding: 0.5rem 1.5rem;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.game-panel-menu input:hover,
.game-panel-menu input:focus,
.game-panel-menu .play:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}

/* Game Board */
.game-panel-board {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem 0;
    width: 100%;
}

.game-info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
}
.game-info p {
    background-color: var(--cl-purple-btn);
    border-radius: 99px;
    padding: .5rem 2rem;
}

.game-panel-board .question {
    background-color: var(--cl-purple-btn);
    padding: 1.5rem 2rem;
    text-align: center;
    width: 100%;
}

.game-panel-board .answers {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}
.game-panel-board .answers button {
    background-color: var(--cl-purple-btn);
    border-radius: 99px;
    border: none;
    padding: .5rem 2.5rem;
    text-align: left;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    width: 90%;
}
.game-panel-board .answers button:hover {
    -webkit-transform: scale(1.0125);
            transform: scale(1.0125);
}

/* Game - Finish menu */
.game-panel-finish {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}

.gpf-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--cl-purple-btn);
    border-radius: 16px;
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 75%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
    width: 50%;
}

.gr-btn {
    background-color: var(--cl-purple-btn);
    border-radius: 8px;
    border: none;
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: var(--af-white);
    padding: .5rem 2.5rem;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.gr-btn:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}

@media(max-width: 768px) {
    .gpf-container {
        width: 75%;
    }
}

@media(max-width: 576px) {
    .gpf-container {
        width: 90%;
    }
}

/* 1025, 992, 768, 576, 426 */
/* Animations for hover buttons */
@-webkit-keyframes ArrowLeft {
    from {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    } to {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
}
@keyframes ArrowLeft {
    from {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    } to {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
}
@-webkit-keyframes RotateButton {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
}
@keyframes RotateButton {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
}
@-webkit-keyframes ArrowRight {
    from {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    } to {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}
@keyframes ArrowRight {
    from {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    } to {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}
