<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Twoje Dane Twoja Sprawa! | CodeLen.pl</title>
    <link rel="shortcut icon" href="../assets/images/nk-brand-logo.svg" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom Style Sheet -->  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../Assets/css/style.css">
    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/fbd7d925cd.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
</head>
<body>
    <section class="container">
        <section class="min-height st-section">
            <div class="left-section-st">
                <h3>Czy wiesz, jak chronić swoje dane osobowe w sieci?</h3>
                <p class="h5"> W dzisiejszych czasach, gdy coraz więcej czasu spędzamy w sieci, ważne jest, aby wiedzieć, jak chronić swoje dane osobowe przed oszustami i nieuczciwymi instytucjami.</p>
                <a href="#seemore" class="h4">Zobacz wiecej!</a>
            </div>
            <div class="right-section-st">
                <h1>Dowiedz się: </h1>
                <ul>
                    <li class="h5">Jak chronić swoje dane osobowe w sieci</li>
                    <li class="h5">Jakie są rodzaje zagrożeń w sieci</li>
                    <li class="h5">Oraz jak je unikać</li>
                </ul>
            </div>
        </section>
        <section class="min-height nd-section" id="seemore">
            <div class="left-section-nd">
                <!-- Generate in JS -->
                <div class="nd-buttons">
                    <button class="nd-prv-btn" id="nd-prv-btn">
                        <i class="fa-solid fa-angle-left"></i>
                    </button>
                    <button class="nd-nxt-btn" id="nd-nxt-btn">
                        <i class="fa-solid fa-angle-right"></i>
                    </button>
                </div>
            </div>
            <div class="right-section-nd">
                <h2>Ciekawostka: </h2>
                <p>Dane osobowe są szczególnie chronione w wielu jurysdykcjach ze względu na ich wrażliwy charakter i potencjalne zagrożenia związane z nieautoryzowanym ujawnieniem lub wykorzystaniem. Ochrona danych osobowych jest zwykle regulowana przez różne przepisy prawne, takie jak Ogólne Rozporządzenie o Ochronie Danych (GDPR) w Unii Europejskiej czy inne lokalne ustawy o ochronie prywatności. Organizacje i firmy zbierające dane osobowe zazwyczaj są zobowiązane do stosowania odpowiednich środków bezpieczeństwa w celu zapewnienia poufności i integralności tych informacji.</p>
            </div>
        </section>
        <!-- TO BĘDZIE 3 SEKCJA -->
        <section class="min-height rd-section">
            <h2>Jak Chronić Swoje Dane w Sieci</h2>
            <div class="rd-card">
                <!-- Generate in JS file to show card and shit in card -->
                <section class="fc-ctn container"></section>
                <div class="cd-card-buttons">
                    <button class="h4 btn-prv" id="btn-prv">
                        <i class="fa-solid fa-angle-left"></i>
                    </button>
                    <button class="h4 btn-reverse" id="btn-reverse">
                        <i class="fa-solid fa-rotate"></i>
                    </button>
                    <button class="h4 btn-nxt" id="btn-nxt">
                        <i class="fa-solid fa-angle-right"></i>
                    </button>
                </div>
            </div>
        </section>
        <section class="min-height fth-section container">
            <h1 class="mt-5">Twoje Prawa w Internecie</h1>
            <div class="fth-container">
                <div class="fth-acces fth-sec">
                    <div class="fth-sec-left">
                        <h2>Prawo do dostępu</h2>
                        <p>W ramach tego prawa osoba ma możliwość sprawdzenia, czy jej dane są przetwarzane, otrzymania informacji na temat celów przetwarzania, kategorii przetwarzanych danych, okresu przechowywania, a także uzyskania kopii tych danych. To kluczowy element ochrony prywatności, który umożliwia jednostkom monitorowanie i kontrolowanie sposobu, w jaki ich dane osobowe są gromadzone i wykorzystywane przez różne podmioty.</p>
                        <p>Prawo to jest szczególnie istotne w kontekście przepisów o ochronie danych osobowych, takich jak RODO w Unii Europejskiej, mających na celu zapewnienie zgodności z normami prywatności i transparentności przetwarzania danych.</p>
                    </div>
                    <div class="fth-sec-right">
                        <dotlottie-player class="dotlottie" src="https://lottie.host/1ee22855-e06e-47e4-be71-52af05e02462/WWwhncS4tr.json" background="transparent" speed="1" loop autoplay></dotlottie-player>
                    </div>
                </div>
                <div class="fth-cor fth-sec">
                    <div class="fth-sec-left">
                        <h2>Prawo do Sprostowanie</h2>
                        <p> Zgodnie z tym prawem, jednostka ma możliwość żądania poprawienia lub uzupełnienia swoich danych osobowych, jeśli są one nieprawidłowe lub niekompletne. To zapewnia jednostce kontrolę nad dokładnością informacji na jej temat oraz umożliwia korygowanie ewentualnych błędów w danych osobowych przechowywanych przez różne podmioty.</p>
                        <p>Prawo to jest istotnym elementem ochrony prywatności jednostek, przewidzianym w regulacjach takich jak Rozporządzenie Ogólne o Ochronie Danych Osobowych (RODO) w Unii Europejskiej.</p>
                    </div>
                    <div class="fth-sec-right">
                        <dotlottie-player class="dotlottie" src="https://lottie.host/21e215f5-0a22-475f-899c-13c7440beae7/LoNjET8YPl.json" background="transparent" speed="1" loop autoplay></dotlottie-player>
                    </div>
                </div>
                <div class="fth-del fth-sec">
                    <div class="fth-sec-left">
                        <h2>Prawo do usunięcia</h2>
                        <p>Zgodnie z tym prawem, osoba, której dane dotyczą, ma możliwość żądania usunięcia swoich danych osobowych przez administratora danych. To prawo ma zastosowanie w sytuacjach, gdy dane osobowe nie są już niezbędne do celu, dla którego zostały zebrane, gdy osoba wycofała zgodę na ich przetwarzanie, gdy przetwarzanie odbywa się niezgodnie z prawem lub gdy istnieje inny prawny powód do usunięcia danych.</p>
                    </div>
                    <div class="fth-sec-right">
                        <dotlottie-player class="dotlottie" src="https://lottie.host/fdb47846-bdef-413b-a8dd-a78acb3164c6/DqW2A7fiWe.json" background="transparent" speed="1" loop autoplay></dotlottie-player>
                    </div>
                </div>
                <div class="fth-acces fth-sec">
                    <div class="fth-sec-left">
                        <h2>Prawo do ograniczenia przetwarzania</h2>
                        <p>Prawo do ograniczenia przetwarzania danych osobowych to jeden z elementów ochrony prywatności jednostek, uregulowany w ramach ogólnego rozporządzenia o ochronie danych osobowych (RODO).</p>
                        <p>Ograniczenie przetwarzania oznacza, że dane mogą być przechowywane, ale nie mogą być dalej przetwarzane bez zgody osoby, chyba że istnieją inne uzasadnione podstawy prawne. To prawo umożliwia jednostkom większą kontrolę nad swoimi danymi osobowymi w sytuacjach, w których istnieje wątpliwość co do zgodności z prawem przetwarzania.</p>
                    </div>
                    <div class="fth-sec-right">
                        <dotlottie-player class="dotlottie" src="https://lottie.host/57b883e7-e372-45fe-b5f8-6d856939d3f1/G0R6627FEe.json" background="transparent" speed="0.5" loop autoplay></dotlottie-player>
                    </div>
                </div>
                <div class="fth-acces fth-sec">
                    <div class="fth-sec-left">
                        <h2>Prawo do przenoszenia danych </h2>
                        <p>Zgodnie z tym prawem, jednostki mają prawo otrzymać od administratora danych osobowych swoje informacje w formie czytelnej maszynowo i przekazać je innemu podmiotowi przetwarzającemu. To umożliwia użytkownikom łatwiejsze przenoszenie swoich danych pomiędzy różnymi usługodawcami, wspierając zasadę swobodnego przepływu danych oraz zwiększając kontrolę jednostek nad własnymi danymi osobowymi. W praktyce oznacza to, że osoba może przenieść swoje dane, np. z jednej platformy internetowej do drugiej, w celu korzystania z różnych usług czy zachowania kontynuacji korzystania z usług w przypadku zmiany dostawcy.</p>
                        <p></p>
                    </div>
                    <div class="fth-sec-right">
                        <dotlottie-player class="dotlottie" src="https://lottie.host/2d60c4b3-1aa1-474c-bd98-edc0a8a1563d/dyaOPRGMVX.json" background="transparent" speed="1" loop autoplay></dotlottie-player>
                    </div>
                </div>
                <div class="fth-acces fth-sec">
                    <div class="fth-sec-left">
                        <h2>Prawo do sprzeciwu</h2>
                        <p>Zgodnie z regulacjami, takimi jak RODO w Unii Europejskiej, osoba, której dane są przetwarzane, ma prawo sprzeciwić się przetwarzaniu swoich danych w określonych sytuacjach. </p>
                        <p> Prawo to umożliwia jednostce wyrażenie sprzeciwu wobec przetwarzania danych w przypadku istnienia uzasadnionych powodów związanych z jej szczególną sytuacją. Organizacje przetwarzające dane są zobowiązane uwzględniać te sprzeciwy, chyba że mogą udowodnić istnienie ważnych i uzasadnionych podstaw do przetwarzania danych, które przeważają nad interesami, prawami i wolnościami osoby, której dane dotyczą. Prawo to daje jednostkom większą kontrolę nad swoimi danymi osobowymi i chroni je przed nieuzasadnionym przetwarzaniem.</p>
                    </div>
                    <div class="fth-sec-right">
                        <dotlottie-player class="dotlottie" src="https://lottie.host/1daf60a7-a01f-4c47-8e8e-d486af2e10d9/np751tMEoP.json" background="transparent" speed="1" loop autoplay></dotlottie-player>
                    </div>
                </div>
            </div>
        </section>
        
            <!-- <figure class="fg-triangle"></figure> -->
        </section>
        <section class="game min-height" id="blockOnGame">
            <h1 class="game-info nd-othr">Quizz o Bezpieczeństwie w Sieci!</h1>
            <section class="game-panel nd-card">
                <!-- Generate Game in JS -->
            </section>
        </section>
    </section>
    <footer class="p-5 mt-5">
        <div class="row">
            <div class="col-12 border-bottom">
                <div class="row p-5">
                    <div class="col-12 col-lg-6 footer-igms">
                        <a href="https://zsnr4.net" target="_blank"><img src="../Assets/img/logoZSNR4.png" alt="logo szkoły"></a>
                        <a href="https://uodo.gov.pl/pl" target="_blank"><img src="../Assets/img/tdtsLogo.jpg" alt="logo projektu"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../Assets/js/personalData/PDbase.js"></script>
    <script src="../Assets/js/personalData/PDScript.js"></script>
    <script src="../Assets/js/flashcards/flashcards.js"></script>
    <script src="../Assets/js/flashcards/fcScript.js"></script>
    <script src="../Assets/js/game/dataBase.js"></script>
    <script src="../Assets/js/game/gameScript.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html> 